.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 74px 0 70px;
  margin: 0;
}

.profile__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;

  margin: 0 0 106px;
  padding: 0;
}

.profile__link-out {
  text-decoration: none;
  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;

  margin: 16px 0 0;
  padding: 0;

  transition: opacity 0.2s ease-in-out;
}

.profile__link-out:hover {
  opacity: 0.5;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.form__wrapper {
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 17px 0 16px;
}

.form__wrapper:first-of-type {
  border-bottom: 1px solid #e8e8e8;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: left;
  width: 50px;

  margin: 0;
  padding: 0;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  background-color: #fafafa;
  border: none;
  border-radius: 0;

  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

.form__input:focus {
  outline: none;
  border: none;
}

.form__button {
  border: none;
  box-sizing: border-box;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  background-color: #fafafa;
  height: 16px;

  margin: 204px 0 0;
  padding: 0;

  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.form__button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 988px) {
  .form__button {
    margin-top: 196px;
  }

  .profile__title {
    margin: 0 0 77px;
  }
  
  .profile {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 63px;
  }

  .profile__link-out {
    font-size: 12px;
    line-height: 15px;
  }

  .form {
    width: 260px;
  }

  .form__button {
    font-size: 12px;
    line-height: 15px;
    height: 15px;

    margin-top: 362px;
  }
}
