.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  padding: 18px 70px;
}

.header-for-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  margin: 0;
  padding: 18px 70px;
}

.header__link {
  transition: opacity 0.2s ease-in-out;
}

.header__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 988px) {
  .header {
    padding: 18px 30px;
  }

  .header-for-burger {
    padding: 17px 38px 18px 30px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 18px 14px;
  }

  .header-for-burger {
    padding: 18px 22px 18px 14px;
  }
}
